/* ---------------------------------
# CSS Reset
----------------------------------------------- */

html {
    color: #000000;
    background: #ffffff;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
fieldset, img {
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
input, textarea ,select {
    *font-size: 100%;
}
*:focus {
    outline: none;
}

/* ---------------------------------
# Fonts
----------------------------------------------- */

@font-face {
    font-family: Montserrat;
    src: url('./assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('./assets/fonts/Montserrat-Light.ttf');
    font-weight: 100;
}

/* ---------------------------------
# General
# Plug Color #284268
----------------------------------------------- */

body {
    font-family: Montserrat, sans-serif;
    position: relative;
    word-spacing: -1px;
    font-size: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#interface {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #f7f6f2;
}

/* ----------------
// Idle Devices
------------------- */

#devices {
    position: absolute;
    top: 20px;
    left: 20px;
}

#devices #idle-devices {
    display: inline-block;
    margin-right: 15px;
}

#devices #idle-devices > div {
    position: relative;
    width: 40px;
    height: 40px;
    border: 5px solid rgba(0,0,0,0.1);
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0.1);
    overflow: hidden;
    opacity: 0.5;
    transition: 300ms border-color ease-in-out;
}

#devices #idle-devices > div:last-child {
    margin-bottom: 0;
}

#devices #idle-devices > div:before {
    content: '';
    display: block;
    position: absolute;
    top: 25px;
    left: -12px;
    width: 80px;
    height: 5px;
    background-color: rgba(0,0,0,0.1);
    transform: rotate(45deg);
}

#devices #idle-devices > div.keyboard {
    background-image: url('./assets/img/keyboard.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-color: rgba(0,0,0,0.1);
    background-color: #fff;
    opacity: 1;
}

#devices #idle-devices > div.gamepad {
    background-image: url('./assets/img/gamepad.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-color: rgba(0,0,0,0.1);
    background-color: #fff;
    opacity: 1;
}

#devices #idle-devices > div.enabled {
    border-color: rgb(65, 185, 101);
}

#devices #idle-devices > div.gamepad:before, #devices #idle-devices > div.keyboard:before {
    display: none;
}

/* ----------------
// Active Device
------------------- */

#devices #active-device {
    position: relative;
    z-index: 10;
    display: inline-block;
    background-color: #fff;
    height: 280px;
    width: 280px;
    border: 5px solid rgba(0,0,0,0.1);
    background-color: #d8d7d4;
    overflow: hidden;
    transition: 300ms background-color ease-in-out, 300ms border-color ease-in-out;
}

#devices #active-device.keyboard, #devices #active-device.gamepad {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-color: #EEE;
    background-color: #FFF;
}

#devices #active-device.keyboard { background-image: url('./assets/img/keyboard.png'); }
#devices #active-device.gamepad { background-image: url('./assets/img/gamepad.png'); }
#devices #active-device.gamepad:before, #devices #active-device.keyboard:before { display: none; }

/* ----------------
// Idle Devices
------------------- */

#input-events {
    position: absolute;
    top: 360px;
    left: 20px;
    width: 350px;
    height: 220px;
    border: 5px solid rgba(0,0,0,0.2);
}

#input-events.enabled {
    top: 325px;
    transition: 500ms top ease-out;
}

#input-events .inner-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #e0e0dc;
    z-index: 2;
}

#input-events:before {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 5px;
    height: 0;
    background-color: #eee;
    z-index: 1;
}
#input-events:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 0;
    height: 5px;
    background-color: #eee;
    z-index: 1;
}

#input-events.enabled:before, #input-events.enabled:after {
    height: calc(100% + 10px);
    width: calc(100% + 10px);
}

#input-events.enabled:before { transition: 200ms height ease 500ms, 200ms width ease 700ms; }
#input-events.enabled:after { transition: 200ms width ease 500ms, 200ms height ease 700ms; }
#input-events.enabled .inner-wrapper {
    background-color: #FFF;
    transition: 400ms background-color ease-in-out 900ms;
}

#input-events .inner-wrapper:before {
    content: '';
    display: block;
    position: absolute;
    right: -20px;
    top: -64px;
    width: 60px;
    height: 60px;
    background-image: url('./assets/img/plug-1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom -30px center;
}

#input-events.enabled .inner-wrapper:before {
    opacity: 0;
    transition: 500ms opacity ease-in-out 900ms;
}

#input-events h1 {
    text-align: center;
    padding: 18px 0;
    text-transform: uppercase;
    font-variant: small-caps;
}

